<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{ site.title }}{% if title %} | {{ title }}{% endif %}</title>
    <meta name="description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}"/>
    <meta name="keywords" content="Web,Library,Typescript,AST" />
    <meta name="author" content="Jordi Marimon" />


    <meta property="og:description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}" />
    <meta property="og:title" content="{{ site.title }}{% if title %} | {{ title }}{% endif %}" />
    <meta property="og:url" content="https://jordimarimon.github.io/ts-ast-parser" />

    <link href="favicon.ico" rel="icon" type="image/x-icon"/>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet"
    />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/prismjs@1.28.0/themes/prism-okaidia.min.css" rel="stylesheet">

    <style>{{'main.css' | postcss | safe}}</style>

    {% if withSideBar %}
    <script async type="module" src="{{ '/assets/js/side-bar.js' | url }}"></script>
    <script async type="module" src="{{ '/assets/js/preview.js' | url }}"></script>
    {% endif %}

    {% if title == 'Playground' %}
    <script async type="module" src="{{ '/assets/js/playground.js' | url }}"></script>
    {% endif %}
</head>

<body>

{% if withHeader %}
{% include "partials/_navigation.njk" %}
{% endif %}

{% if withSideBar %}
{% include "partials/_side-bar.njk" %}
{% endif %}

<main class="main {% if module %}has-sidebar{% else %}full-page{% endif %} {% if withHeader %}has-navbar{% endif %}">
    {% if module %}
    <div class="mx-auto w-lg max-w-full">
        {{ content | safe }}
        {% include "partials/_pagination.njk" %}
    </div>
    {% else %}
        {{ content | safe }}
    {% endif %}
</main>

</body>

</html>
