---
title: Getting Started
order: 2
---

{% from "macros/heading.njk" import heading %}

{{ heading(title) }}

<section class="mb-10">
    <h2 class="heading-3 mb-4">
        Installation
    </h2>

    <p class="text-md mb-4">
        The required version is currently the active LTS of NodeJS (<code class="code">&gt;=18.0.0</code>).
    </p>

    <p class="text-md mb-4">
        npm:
    </p>

{% highlight "bash" %}
npm i -D @ts-ast-parser/readers
{% endhighlight %}

    <p class="text-md my-4">
        yarn:
    </p>

{% highlight "bash" %}
yarn add -D @ts-ast-parser/readers
{% endhighlight %}

    <p class="text-md my-4">
        pnpm:
    </p>

{% highlight "bash" %}
pnpm add -D @ts-ast-parser/readers
{% endhighlight %}
</section>
