{% macro select(id, label, options) %}
    <label class="select">
        <select id="{{ id }}" aria-label="{{ label }}" class="select__control">
            {% for option in options %}
                <option value="{{ option.value }}">
                    {{ option.label }}
                </option>
            {% endfor %}
        </select>

        <svg class="select__arrow-down" viewbox="0 0 10 6">
            <polyline points="1 1 5 5 9 1"></polyline>
        </svg>
    </label>
{% endmacro %}
