---
order: 3
tags: module
---

{% from "macros/heading.njk" import heading %}

{{ heading(title) }}


<h2 class="heading-3 mb-4">
    Parsers
</h2>

<section class="block w-full mb-6">
    <ul class="grid-responsive">
        <li class="text-start">
            <a href="parse-from-files" class="prose prose-sm">parseFromFiles</a>
        </li>
        <li class="text-start">
            <a href="parse-from-glob" class="prose prose-sm">parseFromGlob</a>
        </li>
        <li class="text-start">
            <a href="parse-from-source" class="prose prose-sm">parseFromSource</a>
        </li>
    </ul>
</section>

<h2 class="heading-3 mb-4">
    Models
</h2>

<section class="block w-full mb-6">
    <ul class="grid-responsive">
        <li class="text-start">
            <a href="models/class" class="prose prose-sm">ClassDeclaration</a>
        </li>
        <li class="text-start">
            <a href="models/declaration-kind" class="prose prose-sm">DeclarationKind</a>
        </li>
        <li class="text-start">
            <a href="models/declaration" class="prose prose-sm">Declaration</a>
        </li>
        <li class="text-start">
            <a href="models/decorator" class="prose prose-sm">Decorator</a>
        </li>
        <li class="text-start">
            <a href="models/enum" class="prose prose-sm">EnumDeclaration</a>
        </li>
        <li class="text-start">
            <a href="models/enum" class="prose prose-sm">EnumMember</a>
        </li>
        <li class="text-start">
            <a href="models/export" class="prose prose-sm">ExportKind</a>
        </li>
        <li class="text-start">
            <a href="models/export" class="prose prose-sm">Export</a>
        </li>
        <li class="text-start">
            <a href="models/function" class="prose prose-sm">FunctionReturn</a>
        </li>
        <li class="text-start">
            <a href="models/function" class="prose prose-sm">FunctionSignature</a>
        </li>
        <li class="text-start">
            <a href="models/function" class="prose prose-sm">FunctionLike</a>
        </li>
        <li class="text-start">
            <a href="models/function" class="prose prose-sm">FunctionDeclaration</a>
        </li>
        <li class="text-start">
            <a href="models/import" class="prose prose-sm">ImportKind</a>
        </li>
        <li class="text-start">
            <a href="models/import" class="prose prose-sm">Import</a>
        </li>
        <li class="text-start">
            <a href="models/interface" class="prose prose-sm">IndexSignature</a>
        </li>
        <li class="text-start">
            <a href="models/interface" class="prose prose-sm">InterfaceDeclaration</a>
        </li>
        <li class="text-start">
            <a href="models/js-doc" class="prose prose-sm">JSDocTagName</a>
        </li>
        <li class="text-start">
            <a href="models/js-doc" class="prose prose-sm">JSDocTagObjectValue</a>
        </li>
        <li class="text-start">
            <a href="models/js-doc" class="prose prose-sm">JSDocTagValue</a>
        </li>
        <li class="text-start">
            <a href="models/js-doc" class="prose prose-sm">JSDocResult</a>
        </li>
        <li class="text-start">
            <a href="models/js-doc" class="prose prose-sm">JSDoc</a>
        </li>
        <li class="text-start">
            <a href="models/js-doc" class="prose prose-sm">JSDocTSNode</a>
        </li>
        <li class="text-start">
            <a href="models/js-doc" class="prose prose-sm">JSDocTSComment</a>
        </li>
        <li class="text-start">
            <a href="models/member-kind" class="prose prose-sm">MemberKind</a>
        </li>
        <li class="text-start">
            <a href="models/member" class="prose prose-sm">ModifierType</a>
        </li>
        <li class="text-start">
            <a href="models/member" class="prose prose-sm">MemberLike</a>
        </li>
        <li class="text-start">
            <a href="models/member" class="prose prose-sm">Field</a>
        </li>
        <li class="text-start">
            <a href="models/member" class="prose prose-sm">Method</a>
        </li>
        <li class="text-start">
            <a href="models/mixin" class="prose prose-sm">MixinNodes</a>
        </li>
        <li class="text-start">
            <a href="models/mixin" class="prose prose-sm">MixinDeclaration</a>
        </li>
        <li class="text-start">
            <a href="models/module" class="prose prose-sm">Module</a>
        </li>
        <li class="text-start">
            <a href="models/node" class="prose prose-sm">NodeType</a>
        </li>
        <li class="text-start">
            <a href="models/parameter" class="prose prose-sm">Parameter</a>
        </li>
        <li class="text-start">
            <a href="models/parameter" class="prose prose-sm">NamedParameterElement</a>
        </li>
        <li class="text-start">
            <a href="models/property" class="prose prose-sm">PropertyLike</a>
        </li>
        <li class="text-start">
            <a href="models/reference" class="prose prose-sm">Reference</a>
        </li>
        <li class="text-start">
            <a href="models/reference" class="prose prose-sm">SourceReference</a>
        </li>
        <li class="text-start">
            <a href="models/type-alias" class="prose prose-sm">TypeAliasDeclaration</a>
        </li>
        <li class="text-start">
            <a href="models/type-parameter" class="prose prose-sm">TypeParameter</a>
        </li>
        <li class="text-start">
            <a href="models/type" class="prose prose-sm">TypeReference</a>
        </li>
        <li class="text-start">
            <a href="models/type" class="prose prose-sm">Type</a>
        </li>
        <li class="text-start">
            <a href="models/variable" class="prose prose-sm">VariableDeclaration</a>
        </li>
    </ul>
</section>

<h2 class="heading-3 mb-4">
    Nodes
</h2>

<section class="block w-full mb-6">
    <ul class="grid-responsive">
        <li class="text-start">
            <a href="nodes/class-node" class="prose prose-sm">ClassNode</a>
        </li>
        <li class="text-start">
            <a href="nodes/declaration-node" class="prose prose-sm">DeclarationNode</a>
        </li>
        <li class="text-start">
            <a href="nodes/decorator-node" class="prose prose-sm">DecoratorNode</a>
        </li>
        <li class="text-start">
            <a href="nodes/default-import-node" class="prose prose-sm">DefaultImportNode</a>
        </li>
        <li class="text-start">
            <a href="nodes/enum-member-node" class="prose prose-sm">EnumMemberNode</a>
        </li>
        <li class="text-start">
            <a href="nodes/enum-node" class="prose prose-sm">EnumNode</a>
        </li>
        <li class="text-start">
            <a href="nodes/export-assignment-node" class="prose prose-sm">ExportAssignmentNode</a>
        </li>
        <li class="text-start">
            <a href="nodes/export-declaration-node" class="prose prose-sm">ExportDeclarationNodeType</a>
        </li>
        <li class="text-start">
            <a href="nodes/export-declaration-node" class="prose prose-sm">ExportDeclarationNode</a>
        </li>
        <li class="text-start">
            <a href="nodes/function-node" class="prose prose-sm">FunctionNode</a>
        </li>
        <li class="text-start">
            <a href="nodes/index-signature-node" class="prose prose-sm">IndexSignatureNode</a>
        </li>
        <li class="text-start">
            <a href="nodes/interface-node" class="prose prose-sm">InterfaceNode</a>
        </li>
        <li class="text-start">
            <a href="nodes/jsdoc-node" class="prose prose-sm">JSDocNode</a>
        </li>
        <li class="text-start">
            <a href="nodes/jsdoc-value-node" class="prose prose-sm">JSDocValueNode</a>
        </li>
        <li class="text-start">
            <a href="nodes/module-node" class="prose prose-sm">ModuleNode</a>
        </li>
        <li class="text-start">
            <a href="nodes/named-export-node" class="prose prose-sm">NamedExportNode</a>
        </li>
        <li class="text-start">
            <a href="nodes/named-import-node" class="prose prose-sm">NamedImportNode</a>
        </li>
        <li class="text-start">
            <a href="nodes/namespace-export-node" class="prose prose-sm">NamespaceExportNode</a>
        </li>
        <li class="text-start">
            <a href="nodes/namespace-import-node" class="prose prose-sm">NamespaceImportNode</a>
        </li>
        <li class="text-start">
            <a href="nodes/parameter-node" class="prose prose-sm">ParameterNode</a>
        </li>
        <li class="text-start">
            <a href="nodes/property-node" class="prose prose-sm">PropertyNode</a>
        </li>
        <li class="text-start">
            <a href="nodes/re-export-node" class="prose prose-sm">ReExportNode</a>
        </li>
        <li class="text-start">
            <a href="nodes/reflected-node" class="prose prose-sm">ReflectedNode</a>
        </li>
        <li class="text-start">
            <a href="nodes/side-effect-import-node" class="prose prose-sm">SideEffectImportNode</a>
        </li>
        <li class="text-start">
            <a href="nodes/signature-node" class="prose prose-sm">SignatureNode</a>
        </li>
        <li class="text-start">
            <a href="nodes/type-alias-node" class="prose prose-sm">TypeAliasNode</a>
        </li>
        <li class="text-start">
            <a href="nodes/type-parameter-node" class="prose prose-sm">TypeParameterNode</a>
        </li>
        <li class="text-start">
            <a href="nodes/variable-node" class="prose prose-sm">VariableNode</a>
        </li>
    </ul>
</section>

<h2 class="heading-3 mb-4">
    Utils
</h2>

<section class="block w-full mb-6">
    <ul class="grid-responsive">
        <li class="text-start">
            <a href="utils/class" class="prose prose-sm">isClassDeclaration</a>
        </li>
        <li class="text-start">
            <a href="utils/decorator" class="prose prose-sm">getDecorators</a>
        </li>
        <li class="text-start">
            <a href="utils/export" class="prose prose-sm">hasExportKeyword</a>
        </li>
        <li class="text-start">
            <a href="utils/export" class="prose prose-sm">hasDefaultKeyword</a>
        </li>
        <li class="text-start">
            <a href="utils/function" class="prose prose-sm">getReturnStatement</a>
        </li>
        <li class="text-start">
            <a href="utils/function" class="prose prose-sm">isArrowFunction</a>
        </li>
        <li class="text-start">
            <a href="utils/function" class="prose prose-sm">isFunctionExpression</a>
        </li>
        <li class="text-start">
            <a href="utils/function" class="prose prose-sm">isFunctionDeclaration</a>
        </li>
        <li class="text-start">
            <a href="utils/get-location" class="prose prose-sm">getLocation</a>
        </li>
        <li class="text-start">
            <a href="utils/get-location" class="prose prose-sm">getLinePosition</a>
        </li>
        <li class="text-start">
            <a href="utils/get-type" class="prose prose-sm">getTypeFromTSType</a>
        </li>
        <li class="text-start">
            <a href="utils/get-type" class="prose prose-sm">getTypeReferences</a>
        </li>
        <li class="text-start">
            <a href="utils/get-type" class="prose prose-sm">getTypeFromNode</a>
        </li>
        <li class="text-start">
            <a href="utils/get-type" class="prose prose-sm">getTSType</a>
        </li>
        <li class="text-start">
            <a href="utils/get-type" class="prose prose-sm">isExplicitTypeSet</a>
        </li>
        <li class="text-start">
            <a href="utils/heritage" class="prose prose-sm">isCustomElement</a>
        </li>
        <li class="text-start">
            <a href="utils/heritage" class="prose prose-sm">hasHTMLElementAsBase</a>
        </li>
        <li class="text-start">
            <a href="utils/heritage" class="prose prose-sm">getExtendClauseReferences</a>
        </li>
        <li class="text-start">
            <a href="utils/heritage" class="prose prose-sm">createReference</a>
        </li>
        <li class="text-start">
            <a href="utils/heritage" class="prose prose-sm">getTypeArgumentNames</a>
        </li>
        <li class="text-start">
            <a href="utils/heritage" class="prose prose-sm">getInterfaceOrClassSymbolKind</a>
        </li>
        <li class="text-start">
            <a href="utils/import" class="prose prose-sm">isBareModuleSpecifier</a>
        </li>
        <li class="text-start">
            <a href="utils/import" class="prose prose-sm">isThirdParty</a>
        </li>
        <li class="text-start">
            <a href="utils/import" class="prose prose-sm">getOriginalImportPath</a>
        </li>
        <li class="text-start">
            <a href="utils/import" class="prose prose-sm">matchesTsConfigPath</a>
        </li>
        <li class="text-start">
            <a href="utils/import" class="prose prose-sm">isDefaultImport</a>
        </li>
        <li class="text-start">
            <a href="utils/import" class="prose prose-sm">isNamedImport</a>
        </li>
        <li class="text-start">
            <a href="utils/import" class="prose prose-sm">isNamespaceImport</a>
        </li>
        <li class="text-start">
            <a href="utils/import" class="prose prose-sm">isSideEffectImport</a>
        </li>
        <li class="text-start">
            <a href="utils/is" class="prose prose-sm">ImportNode</a>
        </li>
        <li class="text-start">
            <a href="utils/is" class="prose prose-sm">ExportStatementNode</a>
        </li>
        <li class="text-start">
            <a href="utils/is" class="prose prose-sm">ExportNode</a>
        </li>
        <li class="text-start">
            <a href="utils/is" class="prose prose-sm">NodeWithFunctionDeclaration</a>
        </li>
        <li class="text-start">
            <a href="utils/is" class="prose prose-sm">FunctionLikeNode</a>
        </li>
        <li class="text-start">
            <a href="utils/is" class="prose prose-sm">PropertyLikeNode</a>
        </li>
        <li class="text-start">
            <a href="utils/is" class="prose prose-sm">ClassLikeNode</a>
        </li>
        <li class="text-start">
            <a href="utils/is" class="prose prose-sm">InterfaceOrClassDeclaration</a>
        </li>
        <li class="text-start">
            <a href="utils/is" class="prose prose-sm">SymbolWithLocation</a>
        </li>
        <li class="text-start">
            <a href="utils/is" class="prose prose-sm">SymbolWithDeclaration</a>
        </li>
        <li class="text-start">
            <a href="utils/is" class="prose prose-sm">SymbolWithContext</a>
        </li>
        <li class="text-start">
            <a href="utils/is" class="prose prose-sm">is</a>
        </li>
        <li class="text-start">
            <a href="utils/js-doc" class="prose prose-sm">getAllJSDoc</a>
        </li>
        <li class="text-start">
            <a href="utils/logs" class="prose prose-sm">logWarning</a>
        </li>
        <li class="text-start">
            <a href="utils/logs" class="prose prose-sm">logError</a>
        </li>
        <li class="text-start">
            <a href="utils/logs" class="prose prose-sm">logInfo</a>
        </li>
        <li class="text-start">
            <a href="utils/logs" class="prose prose-sm">formatDiagnostics</a>
        </li>
        <li class="text-start">
            <a href="utils/member" class="prose prose-sm">getVisibilityModifier</a>
        </li>
        <li class="text-start">
            <a href="utils/member" class="prose prose-sm">getInstanceMembers</a>
        </li>
        <li class="text-start">
            <a href="utils/member" class="prose prose-sm">getStaticMembers</a>
        </li>
        <li class="text-start">
            <a href="utils/member" class="prose prose-sm">createSymbolsWithContext</a>
        </li>
        <li class="text-start">
            <a href="utils/member" class="prose prose-sm">isInherited</a>
        </li>
        <li class="text-start">
            <a href="utils/member" class="prose prose-sm">isMember</a>
        </li>
        <li class="text-start">
            <a href="utils/member" class="prose prose-sm">isReadOnly</a>
        </li>
        <li class="text-start">
            <a href="utils/member" class="prose prose-sm">isOverride</a>
        </li>
        <li class="text-start">
            <a href="utils/member" class="prose prose-sm">isOptional</a>
        </li>
        <li class="text-start">
            <a href="utils/member" class="prose prose-sm">isStatic</a>
        </li>
        <li class="text-start">
            <a href="utils/member" class="prose prose-sm">isAbstract</a>
        </li>
        <li class="text-start">
            <a href="utils/member" class="prose prose-sm">hasFlag</a>
        </li>
        <li class="text-start">
            <a href="utils/mixins" class="prose prose-sm">extractMixinNodes</a>
        </li>
        <li class="text-start">
            <a href="utils/modifiers" class="prose prose-sm">getModifiers</a>
        </li>
        <li class="text-start">
            <a href="utils/named-node" class="prose prose-sm">NamedNodeName</a>
        </li>
        <li class="text-start">
            <a href="utils/named-node" class="prose prose-sm">isNamedNode</a>
        </li>
        <li class="text-start">
            <a href="utils/namespace" class="prose prose-sm">isNamespace</a>
        </li>
        <li class="text-start">
            <a href="utils/namespace" class="prose prose-sm">getNamespaceName</a>
        </li>
        <li class="text-start">
            <a href="utils/namespace" class="prose prose-sm">getNamespace</a>
        </li>
        <li class="text-start">
            <a href="utils/not-empty-array" class="prose prose-sm">isNotEmptyArray</a>
        </li>
        <li class="text-start">
            <a href="utils/resolve-expression" class="prose prose-sm">resolveExpression</a>
        </li>
        <li class="text-start">
            <a href="utils/symbol" class="prose prose-sm">getAliasedSymbolIfNecessary</a>
        </li>
        <li class="text-start">
            <a href="utils/symbol" class="prose prose-sm">getSymbolAtLocation</a>
        </li>
        <li class="text-start">
            <a href="utils/try-add-property" class="prose prose-sm">tryAddProperty</a>
        </li>
        <li class="text-start">
            <a href="utils/version" class="prose prose-sm">isTS4_8</a>
        </li>
    </ul>
</section>

