*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    -webkit-tap-highlight-color: hsla(0 0% 0% / 0%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    display: block;
    width: 100%;
    scroll-behavior: smooth;
    scroll-padding-top: var(--navbar-height);
}

body {
    display: block;
    font-family: var(--font-sans);
    font-size: theme("fontSize.base");
    width: 100%;
    margin: 0;
    color: hsl(var(--color-text));
    background-color: hsl(var(--color-background));
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-gutter: stable both-edges;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

[hidden] {
    display: none;
}
