/*//////////////////////////////////////////////////////////////////////////////
/////////// BUTTON
//////////////////////////////////////////////////////////////////////////////*/

.btn {
    display: inline-flex;
    align-items: center;
    font-family: var(--font-sans);
    font-size: var(--font-size-md);
    padding-block: 0;
    padding-inline: theme("spacing.4");
    width: auto;
    height: var(--height);
    color: var(--color-text);
    background-color: transparent;
    border-radius: var(--border-radius);
    border: none;
    user-select: none;
    appearance: none;
    cursor: pointer;
    touch-action: manipulation;

    transition: background-color ease 150ms;

    -webkit-tap-highlight-color: hsla(0 0% 0% / 0%);
    -webkit-appearance: none;

    /*
     * Firefox adds a special `focus-inner` which we have to disable explicitly.
     * See: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button#Firefox
     */
    &::-moz-focus-inner {
        border: 0;
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background-color: hsl(var(--color-text) / 5%);
        }

        &:active {
            background-color: hsl(var(--color-text) / 10%);
        }
    }

    &:disabled {
        cursor: default;
        opacity: 0.4;
        pointer-events: none;
    }
}

.btn-outlined {
    border: 1px solid hsl(var(--color-text));

    &:active,
    &:hover {
        color: hsl(var(--color-neutral-0));
        background-color: hsl(var(--color-text));
    }
}

.btn-lg {
    font-size: var(--font-size-lg);
    height: var(--height-lg);
}

.btn-icon-only {
    align-items: center;
    justify-content: center;
    padding: 0;
    width: var(--height);
    height: var(--height);
    border-radius: 50%;
}

/*//////////////////////////////////////////////////////////////////////////////
/////////// HEADER
//////////////////////////////////////////////////////////////////////////////*/

.navbar {
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--navbar-height);
    padding-inline: theme("spacing.4");
    border-bottom: 1px solid hsl(var(--color-border));
    z-index: var(--navbar-z-index);

    nav {
        display: flex;
        align-items: center;
        width: 100%;
    }
}

/*//////////////////////////////////////////////////////////////////////////////
/////////// MAIN CONTENT
//////////////////////////////////////////////////////////////////////////////*/

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;

    &.has-navbar {
        padding-top: calc(var(--navbar-height) + theme("spacing.6"));

        @screen md {
            padding-top: calc(var(--navbar-height) + theme("spacing.10"));
        }
    }

    &.module {
        padding-inline: theme("spacing.6");
        padding-bottom: theme("spacing.6");

        @screen md {
            width: auto;
            margin-inline-start: var(--sidebar-width);
            padding-inline: theme("spacing.10");
            padding-bottom: theme("spacing.10");
        }
    }

    &.full-page {
        align-items: center;
    }
}

/*//////////////////////////////////////////////////////////////////////////////
/////////// SIDE BAR
//////////////////////////////////////////////////////////////////////////////*/

.side-bar {
    position: fixed;
    inset-block-start: 0;
    inset-block-end: 0;
    inset-inline-start: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100vw;
    padding: theme("spacing.4");
    background-color: hsl(var(--color-background));
    transform: translateX(-100%);
    transition: transform ease 300ms;
    z-index: var(--sidebar-z-index);

    &.md\:hidden {
        @screen md {
            display: none;
        }
    }

    &.open {
        transform: translateX(0);
    }

    @screen md {
        transform: translateX(0);
        inset-block-start: var(--navbar-height);
        width: var(--sidebar-width);
        border-inline-end: 1px solid hsl(var(--color-border));
    }

    li {
        display: flex;
        align-items: center;
        font-family: var(--font-sans);
        font-size: var(--font-size-md);
        min-height: var(--height);
        width: 100%;
        padding-inline: theme("spacing.2");
        color: hsl(var(--color-text));
        cursor: pointer;
        transition: background-color ease 150ms;

        &.active {
            font-weight: bold;
        }

        &.md\:hidden {
            @screen md {
                display: none;
            }
        }

        .material-icons {
            transition: transform ease 300ms;
        }

        a {
            display: block;
            width: 100%;
        }

        details[open] {
            .material-icons {
                transform: rotate(90deg);
            }
        }
    }
}

/*//////////////////////////////////////////////////////////////////////////////
/////////// PAGINATION
//////////////////////////////////////////////////////////////////////////////*/

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: theme("spacing.2");
    width: 100%;
    margin-top: theme("spacing.4");

    .pagination__next,
    .pagination__previous {
        display: flex;
        align-items: center;
        width: 50%;
        padding: theme("spacing.4");
        border: 1px solid hsl(var(--color-border));
        border-radius: var(--border-radius);
    }

    .pagination__previous {
        justify-content: flex-start;
        margin-inline-end: auto;
    }

    .pagination__next {
        justify-content: flex-end;
        margin-inline-start: auto;
    }

    .pagination__label {
        font-family: var(--font-sans);
        font-weight: bold;
        font-size: theme("fontSize.lg");
        min-width: 0;
    }
}

/*//////////////////////////////////////////////////////////////////////////////
/////////// PLAYGROUND
//////////////////////////////////////////////////////////////////////////////*/

.playground {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: theme("spacing.4");

    @screen md {
        flex-direction: row;
    }
}

.code-editor,
.json-editor {
    display: block;
    flex: 1;
    height: 100%;
    width: 100%;
}

/*//////////////////////////////////////////////////////////////////////////////
/////////// DIALOG
//////////////////////////////////////////////////////////////////////////////*/

.dialog {
    position: fixed;
    inset: 0;
    overflow: hidden;
    z-index: var(--dialog-z-index);
    transition: opacity .5s ease;

    &:not([open]) {
        pointer-events: none;
        opacity: 0;
    }

    @screen md {
        inset-block-start: 10%;
        inset-inline-start: 50%;
        transform: translateX(-50%);
        max-inline-size: 90vw;
        max-block-size: min(80vh, 100%);
        border-radius: var(--border-radius-lg);
        box-shadow: var(--shadow-lg);

        &::backdrop {
            backdrop-filter: blur(25px);
        }
    }
}
