/*//////////////////////////////////////////////////////////////////////////////
/////////// TYPOGRAPHY
//////////////////////////////////////////////////////////////////////////////*/

.heading-1 {
    font-size: theme("fontSize.5xl");
}

/*//////////////////////////////////////////////////////////////////////////////
/////////// POSITIONING
//////////////////////////////////////////////////////////////////////////////*/

.absolute-center {
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    transform: translate(-50%, -50%);
}

/*//////////////////////////////////////////////////////////////////////////////
/////////// SIZES
//////////////////////////////////////////////////////////////////////////////*/

.h-normal {
    height: var(--height);
}
