:root {
    --font-sans: theme("fontFamily.sans");
    --font-size-md: theme("fontSize.base");
    --font-size-lg: theme("fontSize.lg");

    /* On/Offs */
    --color-neutral-0: 0 0% 100%;
    --color-neutral-1000: 0 0% 0%;

    /* Neutral */
    --color-neutral-100: 220 14% 96%;
    --color-neutral-200: 220 13% 91%;
    --color-neutral-300: 216 12% 84%;
    --color-neutral-400: 218 11% 65%;
    --color-neutral-500: 220 9% 46%;
    --color-neutral-600: 215 14% 34%;
    --color-neutral-700: 217 19% 27%;
    --color-neutral-800: 215 28% 17%;
    --color-neutral-900: 221 39% 11%;

    /* Success */
    --color-success-100: 141 84% 93%;
    --color-success-200: 141 79% 85%;
    --color-success-300: 142 77% 73%;
    --color-success-400: 142 69% 58%;
    --color-success-500: 142 71% 45%;
    --color-success-600: 142 76% 36%;
    --color-success-700: 142 72% 29%;
    --color-success-800: 143 64% 24%;
    --color-success-900: 144 61% 20%;

    /* Danger */
    --color-danger-100: 0 93% 94%;
    --color-danger-200: 0 96% 89%;
    --color-danger-300: 0 94% 82%;
    --color-danger-400: 0 91% 71%;
    --color-danger-500: 0 84% 60%;
    --color-danger-600: 0 72% 51%;
    --color-danger-700: 0 74% 42%;
    --color-danger-800: 0 70% 35%;
    --color-danger-900: 0 63% 31%;

    /* Warning */
    --color-warning-100: 55 92% 95%;
    --color-warning-200: 48 96% 89%;
    --color-warning-300: 48 97% 77%;
    --color-warning-400: 46 97% 65%;
    --color-warning-500: 43 96% 56%;
    --color-warning-600: 38 92% 50%;
    --color-warning-700: 32 95% 44%;
    --color-warning-800: 26 90% 37%;
    --color-warning-900: 23 82% 31%;

    --color-accent: 271 81% 56%;

    --color-title: var(--color-neutral-900);
    --color-text: var(--color-neutral-800);
    --color-background: var(--color-neutral-0);
    --color-primary: var(--color-neutral-700);
    --color-border: var(--color-neutral-100);
    --color-prose: 199 95% 74%;

    --height: 2.5rem;
    --height-lg: 3rem;

    --border-radius: 0.25rem;
    --border-radius-lg: 1rem;

    --sidebar-width: 18rem;
    --navbar-height: 3.75rem;

    --navbar-z-index: 5;
    --playground-select-z-index: 10;
    --sidebar-z-index: 10;
    --skeleton-z-index: 15;
    --fab-z-index: 20;
    --dialog-z-index: 25;

    --shadow-lg:
        0 20px 25px -5px hsla(var(--color-neutral-1000) / 10%),
        0 8px 10px -6px hsla(var(--color-neutral-1000) / 10%);
}
