:root {
    --sidebar-width: 18rem;
    --navbar-height: 3.75rem;

    --font-sans: theme("fontFamily.sans");
    --font-size-md: theme("fontSize.base");
    --font-size-lg: theme("fontSize.lg");

    /* On/Offs */
    --color-neutral-0: 0 0% 100%;
    --color-neutral-1000: 0 0% 0%;

    /* Neutral */
    --color-neutral-100: 220 14% 96%;
    --color-neutral-200: 220 13% 91%;
    --color-neutral-300: 216 12% 84%;
    --color-neutral-400: 218 11% 65%;
    --color-neutral-500: 220 9% 46%;
    --color-neutral-600: 215 14% 34%;
    --color-neutral-700: 217 19% 27%;
    --color-neutral-800: 215 28% 17%;
    --color-neutral-900: 221 39% 11%;

    --color-title: var(--color-neutral-900);
    --color-text: var(--color-neutral-800);
    --color-background: var(--color-neutral-0);
    --color-primary: var(--color-neutral-700);
    --color-border: var(--color-neutral-100);

    --height: 2.5rem;
    --height-lg: 3rem;

    --border-radius: 0.25rem;
}
