<header class="navbar">
    <nav>
        <button id="side-bar-toggle-btn" class="btn btn-icon-only md:hidden">
            <span class="material-icons">menu</span>
        </button>

        <ul class="hidden md:w-full md:flex md:items-center md:gap-2">
            <li class="flex items-center">
                <a class="btn" href="{{ '/' | url }}">
                    Home
                </a>
            </li>

            <li class="flex items-center ms-auto me-2">
                <a
                    class="github-link"
                    href="https://github.com/jordimarimon/ts-ast-parser"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="Github repository"
                ></a>
            </li>

            <li class="flex items-center">
                <a class="btn" href="{{ '/overview/' | url }}">
                    Guides
                </a>
            </li>

            <li class="flex items-center">
                <a class="btn" target="_blank" href="{{ '/playground/' | url }}" rel="noopener noreferrer">
                    <span>Playground</span>
                    <span class="material-icons ms-2">open_in_new</span>
                </a>
            </li>
        </ul>
    </nav>
</header>
