<header>
    <nav>
        <button class="btn btn-icon-only md:hidden">
            <span class="material-icons">menu</span>
        </button>

        <ul class="hidden md:flex md:items-center md:gap-2">
            {%- for item in collections.page -%}
            <li class="flex items-center">
                <a class="btn" href="{{ item.url | url }}">
                    {{ item.data.title }}
                </a>
            </li>
            {%- endfor -%}
        </ul>
    </nav>
</header>
