<header>
    <nav>
        <ul class="flex items-center gap-2">
            {%- for item in collections.page -%}
            <li class="flex items-center">
                <a class="btn" href="{{ item.url }}">
                    {{ item.data.title }}
                </a>
            </li>
            {%- endfor -%}
        </ul>
    </nav>
</header>
