{% set previousPost = collections[sideBarCollection] | getPreviousCollectionItem(page) %}

{% set nextPost = collections[sideBarCollection] | getNextCollectionItem(page) %}

<div class="pagination">
    {% if previousPost %}
        <a href="{{ previousPost.url | url }}" class="pagination__previous">
            <span class="material-icons mie-auto">chevron_left</span>
            <span class="pagination__label truncate">{{ previousPost.data.title }}</span>
        </a>
    {% endif %}

    {% if nextPost %}
        <a href="{{ nextPost.url | url }}" class="pagination__next">
            <span class="pagination__label truncate">{{ nextPost.data.title }}</span>
            <span class="material-icons mis-auto">chevron_right</span>
        </a>
    {% endif %}
</div>
