{% set previousPost = collections[sideBarCollection] | getPreviousCollectionItem(page) %}

{% set nextPost = collections[sideBarCollection] | getNextCollectionItem(page) %}

{% if previousPost %}
Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
{% endif %}

{% if nextPost %}
Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
{% endif %}
