<aside>

    <nav class="block w-full h-full">
        <ul class="flex flex-col items-start">
            {%- for item in collections[sideBarCollection] -%}
            <li class="flex items-center">
                <a href="{{ item.url }}">{{ item.data.title }}</a>
            </li>
            {%- endfor -%}
        </ul>
    </nav>

</aside>
