<aside id="side-bar" class="side-bar {% if not module %}md:hidden{% endif %}">

    <button id="side-bar-close-btn" class="btn btn-icon-only ms-auto md:hidden">
        <span class="material-icons">close</span>
    </button>

    <nav class="block w-full h-full mt-4">
        <ul class="flex flex-col items-start gap-2">
            {% for item in collections.page %}
            <li class="flex items-center {% if (item.url | url) == (page.url | url) %}active{% endif %} md:hidden">
                <a href="{{ item.url | url }}">
                    {{ item.data.title }}
                </a>
            </li>
            {% endfor %}

            {% for item in collections.module %}
            <li class="flex items-center {% if (item.url | getModuleName) == (page.url | getModuleName) %}active{% endif %}">
                <a href="{{ item.url | url }}">
                    {{ item.data.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </nav>

</aside>
