{% from "macros/detail.njk" import detail with context %}

<aside id="side-bar" class="side-bar {% if not module %}md:hidden{% endif %}">

    <button id="side-bar-close-btn" class="btn btn-icon-only mis-auto md:hidden">
        <span class="material-icons">close</span>
    </button>

    <nav class="block w-full h-full mt-4">
        <ul class="flex flex-col items-start gap-2">
            {% for item in collections.page %}
                <li class="flex items-center {% if (item.url | url) == (page.url | url) %}active{% endif %} md:hidden">
                    <a href="{{ item.url | url }}">
                        {{ item.data.title }}
                    </a>
                </li>
            {% endfor %}

            {{ detail('Core') }}

            {{ detail('Writers') }}

            {{ detail('Readers') }}
        </ul>
    </nav>

</aside>
