---
title: Overview
order: 1
layout: base
withHeader: true
withSideBar: true
tags: module
module: overview
---

{% from "macros/heading.njk" import heading %}

{{ heading(title) }}

<section class="mb-10">
    <h2 class="heading-3 mb-4">
        What this library does?
    </h2>

    <p class="text-md">
        This library reflects a simplified version of the TypeScript AST.
    </p>
</section>

<section class="mb-10">
    <h2 class="heading-3 mb-4">
        How does it benefit me?
    </h2>

    <p class="text-md">
        This can help you automate the generation of a documentation website for any project you're working on.
        There are a lot of libraries out there that help you create static documentation websites from markdown files:
    </p>

    <ul class="flex flex-col gap-2 list-disc pis-8 my-4">
        <li>
            <a href="https://docusaurus.io/" class="prose" target="_blank">Docusaurus</a>
        </li>

        <li>
            <a href="https://docsify.js.org/#/" class="prose" target="_blank">Docsify</a>
        </li>

        <li>
            <a href="https://www.gitbook.com/" class="prose" target="_blank">GitBook</a>
        </li>

        <li>
            <a href="https://vitepress.vuejs.org/" class="prose" target="_blank">VitePress</a>
        </li>

        <li>
            <a href="https://modernjs.dev/doc-tools" class="prose" target="_blank">Modern.js Doc</a>
        </li>
    </ul>

    <p class="text-md">
        This library can help you automate the generation of the markdown files that
        explain the public API of your project.
    </p>
</section>

<section class="mb-10">
    <h2 class="heading-3 mb-4">
        An Example:
    </h2>

    <p class="text-md">
        The following example shows the information you can get from a TypeScript function.
    </p>

    <preview-component src="function.ts"></preview-component>

    <p class="text-md my-2">
        For more examples, have a look at the
        <a
            target="_blank"
            href="{{ '/playground/' | url }}"
            rel="noopener noreferrer"
            class="prose"
        >
            playground.
        </a>
    </p>
</section>
