---
layout: base
title: Playground
tags: page
order: 2
---

{% from "macros/select.njk" import select %}

<!-- Only visible in small screens -->
<button id="change-view-button" class="hidden btn btn-filled playground__view-control">
    Change View
</button>

<section class="playground">

    {{ select("select-code-example", "Select a sample code", [
        {value: 'class', label: 'Class'},
        {value: 'decorator', label: 'Decorator'},
        {value: 'enum', label: 'Enum'},
        {value: 'function', label: 'Function'},
        {value: 'interface', label: 'Interface'},
        {value: 'variable', label: 'Variable'}
    ]) }}

    <div id="code-editor" class="code-editor skeleton"></div>

    <button id="parse-button" class="hidden btn btn-lg btn-outlined md:flex">
        Parse
    </button>

    <div id="json-editor" class="hidden json-editor skeleton md:block"></div>

    <div class="fixed bottom-0 alert alert-warning alert-floating mb-6">
        <span class="mie-4">🚧</span>
        <span>Still under progress. Soon will be finished.</span>
    </div>

</section>

<dialog id="dialog" class="dialog">
    <section class="flex flex-col p-4 md:p-12">
        <header class="flex items-center w-full mb-8">
            <h3 class="text font-bold text-3xl">
                Note
            </h3>

            <button id="dialog-button-close" class="btn btn-icon-only mis-auto">
                <span class="material-icons">close</span>
            </button>
        </header>

        <p class="text text-md md:text-lg">
            Only declarations that are explicitly exported will be reflected.
        </p>

        <p class="flex items-center font-bold text-success mt-6 text-md md:text-lg">
            <span class="material-icons mie-2">check_circle</span>
            <span>The following declarations will be reflected:</span>
        </p>

{% highlight "ts" %}
export function foo(bar: number): string {
    return `${bar} is also foo`;
}

export const x = 3;
{% endhighlight %}

        <p class="flex items-center font-bold mt-4 text-danger text-md md:text-lg">
            <span class="material-icons mie-2">
                cancel
            </span>
            <span>The following declarations won't be reflected:</span>
        </p>

{% highlight "ts" %}
function foo(bar: number): string {
    return `${bar} is also foo`;
}

const x = 3;
{% endhighlight %}
    </section>
</dialog>
