---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {% for page in collections.all %}
        <url>
            <loc>https://jordimarimon.github.io/ts-ast-parser{{page.url}}</loc>
            <lastmod>{% currentDate date %}</lastmod>
        </url>
    {% endfor %}
</urlset>
